{% extends 'FGPH/template.html' %}
{% load static %}
{% block content %}

{% include 'FGPH/sections/regions.html' %}

<div class="row">
	{% for recipe in recipes %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ recipe.thumbnail.url }}">
			<div class="box-element product">
				<h4 class="card-title"><strong>{{ recipe.name }}</strong></h4>
				<h6 style="line-height: 30px; margin-left: 	0px;">by: {{ recipe.author }} ({{ recipe.author.title }})</h6>
				<p style="word-wrap: break-word;" class="card-text">{{ recipe.description }}</p>				
				<hr>
				
				<button data-recipe="{{ recipe.id }}" data-action="add" class="btn btn-outline-secondary add-recipe">Add to Cookbook</button>
				<a href="{% url 'FGPH:recipe' recipe.id %}" data-recipe="{{ recipe.id }}" class="btn btn-outline-success view-recipe">View</a>
				<!--<h4 style="float: right"><i class="me-2 bi bi-heart"></i></h4>-->
			</div>
		</div>
		{% empty %}
		<h3>No Results..</h3>
	{% endfor %}
</div>
{% endblock content %}