{% extends 'FGPH/template.html' %}
{% load static %}
{% block content %}
<div class="row">
	{% for recipe in recipes %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ recipe.imageURL }}">
			<div class="box-element product">
				<h6><strong>{{ recipe.name }}</strong></h6>
				<h6 style="line-height: 10px;">by: {{ recipe.author }}</h6>
				<hr>
				
				<button data-recipe="{{ recipe.id }}" data-action="add" class="btn btn-outline-secondary add-btn add-recipe">Add to Cookbook</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="float: right"><i class="me-2 bi bi-heart"></i></h4>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}