{% extends 'FGPH/template.html' %}
{% load static %}

{% block content %}
<a class="btn btn-outline-dark" href="{% url 'FGPH:home' %}">&#x2190; Browse Recipes</a>
<form id="post_form" method="post" action="" enctype="multipart/form-data">
 
  {% csrf_token %}
  {% for hidden in postForm.hidden_fields %}
      {{ hidden }}
  {% endfor %}

  {% for field in postForm %}
      {{ field }} <br />
  {% endfor %}

  {{ formset.management_form }}
  {% for form in formset %}
      {{ form }}
  {% endfor %}


  <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}