{% extends 'FGPH/template.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="javascript:history.back()">&#x2190; Go Back</a>
				<hr>
				<h3>{{ user.username }}</h3>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					{% csrf_token %}
					<div id="user-info">
						<p class="mt-2">Account Information:</p>
						<hr>
						<div class="form-field">
							<label>Username</label>
							<input required class="form-control profile-field" type="text" name="username" placeholder="Username.." value="{{ user.username }}">
						</div>
						<div class="form-field">
							<input required class="form-control profile-field" type="password" name="password" placeholder="Password..">
						</div>
						<div class="form-field">
							<label>Email</label>
							<input required class="form-control profile-field" type="email" name="email" placeholder="Email.." value="{{ user.email }}">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Personal Information:</p>
						<hr>
						<div id="user-info">
							<div class="form-field">
								<label>Name</label>
								<input required class="form-control profile-field" type="text" name="name" placeholder="Name.." value="{{ user.registereduser.name }}">
							</div>
							<div class="form-field">
								<label>Title</label>
								<input required class="form-control profile-field" type="text" name="title" placeholder="Enter your title" value="{{ user.registereduser.title }}">
							</div>
							
						</div>
					</div>

					<hr>
						<input id="form-button" class="btn btn-success btn-block" type="submit" value="Update">
						<button class="btn btn-secondary btn-block reload-button">Cancel</button>
						<a href="#" style="float: right;" class="me-2">Forgot password?</a>
					</form>
			</div>
		</div>
	</div>
{% endblock content %}