{% extends 'FGPH/template.html' %}
{% load static %}

{% block content %}
<a class="btn btn-outline-dark" href="javascript:history.back()">&#x2190; Go Back</a>

<div class="d-flex mb-3">
  <div class="me-auto p-2"><h4 style="padding-top: 20px;">{{ recipe.name }}</h4></div>
  <!--<div style="height: fit-content; margin-top: 30px;" class="btn btn-outline-dark ">Add Photo</div>-->
  <div style="height: fit-content; margin-top: 30px;" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">Ingredients</div>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for image in images %}
    <div style="height: 300px;" class="carousel-item">
      <!-- Trigger the Modal -->
      <!--<img id="myImg" src="img_snow.jpg" alt="Snow" style="width:100%;max-width:300px">-->
      <img src="{{ image.imageURL }}" style="height: 300px;" class="thumbnail myImg" alt="{{ recipe.name }}">

      <!-- The Modal -->
      <div class="modal myModal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content img01">

        <!-- Modal Caption (Image Text) -->
        <div class="caption"></div>
      </div>

      <!--<div style="bottom: 0px; padding-bottom: 10px;" class="carousel-caption">
        <a style="border-radius: 15px;" class="btn btn-dark" href="{% url 'FGPH:home' %}">View</a>
      </div>-->
      
    </div>
    {% endfor %}
  </div>

  <button class="bg-black bg-opacity-25 carousel-control-prev disabled" style="width: 50px;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="bg-black bg-opacity-25 carousel-control-next disabled" style="width: 50px;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

  <div class="container-fluid">
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ingredients</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% for ingredient in ingredients %}
          <li class="nav-item">
            <a class="nav-link">{{ ingredient }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <ol class="list-group list-group-numbered">
  {% for step in recipe.steps %}
    <li class="list-group-item fs-4 mb-3">{{ step }}</li>
  {% endfor %}
  </ol>
<!--<div class="sticky-bottom d-flex flex-row-reverse pb-4">
    <a class="btn btn-outline-dark" href="{% url 'FGPH:home' %}"><i class="bi bi-upload me-2"></i>Upload Recipe</a>
</div>-->
{% endblock content %}